.top-component {
  background: #151723;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
  padding: 10px;
}

.top-component-left h1 {
  margin: 0;
}

.user {
  margin-top: 4px;
  font-size: 1.1rem;
  color:rgb(255, 255, 255); 
}

.welcome-text{
  color: #3e5fff; 
}

.status-container {
  width: 180px; 
}

.status-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  height: 65px; 
  justify-content: space-between;
  padding: 5px 0;
}

.status-indicator {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 8px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

.red {
  background-color: #ff3e3e;
}

.green {
  background-color: #3e5fff;
}

.status-button {
  width: 100%;
  .mat-icon {
      margin-right: 8px;
  }
}

.disconnected {
  .status-indicator {
    color: #ff3e3e;
  }
}

.connected {
  .status-indicator {
    color: #3e5fff;
  }
}