:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topbar {
    background:#151723;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
    fill: #3e5fff;  
}

.logo {
  height: 32px;
  width: auto;
}

.brand-text {
  margin-left: 8px;
  font-family: "Georgia";
  font-weight: 700;      /* bold */
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.03em;
}

.spacer {
  flex: 1 1 auto;
}

.settings-btn {
  margin-left: 8px;
}

.content {
  flex: 1 1 auto;
  padding: 16px;
  box-sizing: border-box;
}
